<% filter_objects.each do |arr| %>
    <dd>
      <% cat_name = translated_category_name(arr.first) %>
      <a href='#' data-toggle="<%= cat_name %>"
         data-filter-type="<%= data_type %>" data-role="filter-link">
        <%= cat_name %>
      (<%= arr.last %>)
      </a>
      
    </dd>

<% end %>