<div class="day">
	<div class="row">
		<h2>
			<%= format_date(day.date) %>
  			(<%= day.events.length %>)
		</h2>
	</div>
	<div class="events-by-date_js">
 		<% day.events.each do |event| %>
  		<%= render partial: 'events/event', object: event %>
		<% end %>
	</div>
</div>