<% filter_objects.each_pair do |name, num| %>
    <dd>
      <a href='#' data-toggle="<%= name.to_s.parameterize('_') %>" class="filter-link">
        <%= name.to_s.titleize  %>
      </a>
      (<%= num %>)
    </dd>
<% end %>