<div class="category-filter">
  <h4><%= t '.filter_header' %>:</h4>
  <ul id="filter-list_js">
    <% filter_categories.each_pair do |key, num| %>
        <li>
          <a href='#' data-toggle="<%= key %>" class="filter-link">
            <%= key.to_s.titleize  %>
          </a>
          (<%= num %>)
        </li>
    <% end %>
  </ul>

  <ul class="active-filters_js">
  </ul>
</div>