<% filter_objects.each do |arr| %>
   
    <dd>
      <a href='#' data-toggle="<%= arr.first.to_s.parameterize('_') %>"
         data-filter-type="<%= data_type %>" data-role="filter-link">
        <%= arr.first.to_s.titleize  %>
      (<%= arr.last %>)
      </a>
      
    </dd>

<% end %>