    <h1 class="title title--space">Det sker <span class="title__bold">også i dag</span></h1>
    <div class="timeline">
        <div class="timeline__event timeline__event--right" data-text="sdfjlsdf"></div>
        <div class="timeline__event timeline__event--left" data-text="sdfjls sdfsdf sdf sdf df" style="margin-left: 55%; width: 33%;"></div>
        <div class="timeline__event timeline__event--color1 timeline__event--left" data-text="Vigtigt møde" style="margin-left: 55%;"></div>
        <div class="timeline__event timeline__event--color2" style="margin-left: 25%; width: 33%;">test 2</div>
        <div class="timeline__event timeline__event--color3 timeline__event--right" style="margin-left: 75%;" data-text="Duk dig ikke"></div>
        <div class="timeline__scale">
            <div class="timeline__min">
                08:00
            </div>
            <div class="timeline__max">
                24:00
            </div>
            <div class="timeline__now" id="timeline__now"></div>
        </div>
    </div>
