<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
  <h2 class="section-heading section-heading-phone">
    <%= link_to(t('calendar.weekly.title'), event_series_index_path) %>
  </h2>
</div>
<div class="col-md-4 hidden-xs">
  <%= render partial: 'calendar/weekly_events', locals: { weekly: weekly } %>
</div>
