<div class="category-filter">
  <h4>Filter by category:</h4>
  <ul>
    <% @categories.each do |cat| %>
        <li><a href='#' data-toggle="<%= cat['key'] %>" class="filter-link"><%= cat['key'].titleize %></a> (<%= cat['num'] %>)</li>
    <% end %>
  </ul>

  <h4 class="active-filter-header_js" style="display: none;">Active filters:</h4>
  <ul class="active-filters_js">
  </ul>
</div>