<% @events_by_date.each do |date, events| %>
   <% if date == :in_progress %>
     <h2>I Gang</h2>
     <%= render 'event_list', events: events %>
   <% else %>
     <h2><%= format_date(date) %></h2>
     <%= render 'event_list', events: events %>
  <% end %>
<% end %>