<div class="event_show"><h1>Om Duk Op projektet</h1>
  
<p>Duk Op er din guide til hvad der sker i København og omegn, hvad enten du leder efter demonstrationer, koncerter, fester, møder, folkekøkkener, havedage, workshops, kunst- og filmfremvisninger, mv..</p>

<p>Grundidéen bag kalenderen er, at der er brug for en let tilgængelig måde at blive involveret og involvere andre i fede aktiviteter, uden at være afhængig af at have en stor pengepung, de rigtige venner på facebook eller at skulle tjekke 10 forskellige online kalendere for at få et samlet overblik. Duk Op er en mulighed for at åbne op, samle sammen og opdage nye spændende ting.</p>

<p>Holdet bag siden lægger ikke selv arrangementer op på kalenderen, så Duk Op er helt afhængig af, at du og din gruppe bidrager med
jeres arrangementer!</p>

<p>Duk Op er et politisk projekt. Vi ønsker en anden og bedre verden. En verden baseret på principper om frihed, lighed og selvforvaltning og uden diskrimination eller undertrykkelse i alle dets former. Vi har optur over aktivisme, selvorganisering og initiativer og kulturelle arrangementer der handler om andet end C.V. og profit. Vi ønsker at støtte op om steder, grupper og personer som deler disse værdier. Derfor er fx begivenheder som har et parlamentarisk sigte eller som skaber profit til et kommercielt formål ikke velkomne.</p>

<p>Som udgangspunkt er Duk Op kun for åbne arrangementer. Vi ser en undtagelse i fx separatistiske kønspolitiske arrangementer, mens lukkede medlemsmøder o.lign. må opreklameres internt på fx gruppens egen mailing-list.</p>

<p>Vi håber at Duk Op kan fungere som mobiliseringsplatform, gøre det nemmere at blive involveret, involvere andre og give inspiration og gejst ved at
fremvise alle de fede ting der foregår!</p>

<p>Har du spørgsmål til ovenstående eller andet, skriv til: dukop@riseup.net</p>

<p>Til de sikkerhedsbevidste: Vi har en PGP <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xE74B09BA26CE1DD7">krypteringsnøgle</a> </p>

<p>Key id'en er 0x26CE1DD7. Den fulde key fingerprint er: </p>

<pre>Key fingerprint = 5832 0CBF 30E8 8572 F8A4 1943 E74B 09BA 26CE 1DD7</pre>

</div>
