<div class="event_show"><h1>Duk Op og internetsikkerhed</h1>
<p>Duk Op tager dit privatliv på internettet seriøst, og gør sit bedste for ikke at indsamle unødvendige data om sine bruger. På denne side kan du læse mere om vores policy, de forskellige brugertyper vi har her på siden, hvorfor man skal beskytte sig på nettet, og en nemt måde at beskytte sig på.</p>
Indholdsfortegnelse

<ul>
    <li><a href="#policy">Vores policy</a></li>
    <li><a href="#users">Duk Ops forskellige brugertyper</a></li>
    <li><a href="#why">Hvorfor  skal jeg tænke på internetsikkerhed?</a></li>
    <li><a href="#protect">Hvordan kan jeg beskytte mid selv på Dukop?</a></li>
    <li><a href="#read">Læs videre om internedsikkerhed</a></li>
</ul>
<h2><a name="policy">Vores policy</a></strong></h2>
Vi har ingen logning af brugerdata, som fx betyder at vi ikke sidder på en kæmpe database med oplysninger som IP adresse af alle de bruger, der har besøgt hjemmesiden. Af samme grund har vi aktivt fravalgt at koble vores Duk Op login til fx Facebook- og Google-login, som er selskaber, man ikke kan stole på, når det handler om ens data og privacy.</p>

<h2><a name="users">Duk Ops forskellige brugertyper</a></h2>
Der er to muligheder for at oprette events her på siden. Begivenheder kan oprettes enten som registreret bruger, eller som anonym bruger.</p>
<h4>Registreret bruger</h4>
For at logge ind som bruger skal du først registrere dig med et brugernavn og et password, og skal indtaste din mail for at få en bekræftigelse. Dette giver dig adgang til flere funktioner, såsom mulighed for at komme tilbage til de events du har oprettet og redigere eller slette dem, og for at kommentere på dine og andre events ved dit synlige brugernavn.</p>
<h4>Anonym bruger</h4>
Alternativt kan du vælge at oprette begivenheder anonymt. Som anonymt bruger skal du vælge et brugernavn, der er gyldigt kun én gang. Der kræves ikke et password eller en e-mail adresse. De oprettede begivenheder bliver vist som oprettet af dit bruger (fx under navnet &#8220;anonymt bruger&#8221;) &#8211; du har dog ikke mulighed for at redigere i teksten eller slette begivenheden.</p>
<p>Sejt, ikke? Jo, men der er alligevel nogle ting du skal være opmærksom på, hvis du vil sikre dig på at der ikke er andre (fx din internetudbyder), der lytter med, når du bruger hjemmesiden, eller hvis du vil benytte dig af alle funktioner her på siden. Så læs videre om hvorfor du skal beskytte dig, eller hop direkte til hvordan du kan gøre det.</p>

<h4><a name="why">Hvorfor skal jeg tænke på internetsikkerhed?</a></h4>
På trods at vi ikke registrerer din IP adresse når du besøger hjemmesiden, kan du som regel ikke stole på, at din internetudbyder eller andre aktører ikke følger med i hvad du laver på nettet. Derfor skal du være ekstra opmærksom på at beskytte dig og dit privatliv, når du fx inviterer andre mennekser til at deltage i politiske aktiviteter. Måske sidder du og tænker, at de aktiviteter, du opreklamerer her på Duk Op, er helt uskyldige, og at du ikke har brug for at bekymre dig om internetsikkerhed. Det kan du måske have ret i, men der er minimum to gode grunde til at beskytte dig, når du bruger Duk Op (og alle andre hjemmesider, også!).</p>
<p>Den første grund handler om vaner: jo mere vi venter os til at beskytte os i almindelige og &#8220;uskyldige&#8221; situationer på nettet, jo mindre vi bliver nød til at ændre vores opførelsen når vi ren faktisk har brug for at være anonyme. Så kan det sagtens være at du ikke synes at det foredrag om svenske fuglearter du holder om to uger er noget farligt, men ved at agere på en sikker måde og beskytte dig i dag, kommer du ind i en god vane, og går ikke i panik eller begår fejl, når du skal invitere til en pirat fest eller en blokade om to måneder.</p>
<p>Den anden gode grund handler om solidaritet: jo flere skjuler deres spor på nettet, jo mindre mistænkeligt ser det ud, når andre, der har mere brug for det end os, gør det. Derfor gør du både dig selv og dine kammerater en tjeneste, ved at passe på din sikkerhed på nettet!</p>

<h2><a name="protect">Hvordan kan jeg beskytte mid selv på Dukop?</a></h2>
Hvis du har nået hertil, så er du forhåbentligt overbevist om, at du skal gøre en lille indsats for at beskytte dine data og dække dine spor på nettet.
Den mest almindelig situation, og det du sandsynligvis også er interesseret i her på Duk Op, er at undgå at dit navn, e-mail eller IP adresse bliver linket til et bestemt sted, aktivistisk gruppe eller slags aktivitet. Heldigvis findes der et godt og nemt-at-bruge værktøj, der kan hjælpe med det! Det hedder TOR (The Onion Router), og den kan downloades her: <a href="https://www.torproject.org">www.torproject.org</a></p>
<p>TOR er meget nemt at bruge: du pakker den ud af sin komprimeret fil, installerer den (Ubuntu og Linux users: no install needed), og clicker på filen. TOR åbner så en kopi af Mozilla Firefox, som er sæt op så at du anonymt kan surfe på nettet. Det betyder så at ingen kan se, hvad for nogle hjemmesider du besøger &#8211; og, her på Duk Op, at ingen kan se at det er dig, der opretter en bestemt event. Du kan læse mere om TOR på deres hjemmeside, men vi kan give dig her et par ideer om, hvordan du kan bruge TOR på Duk Op.</p>
<p>Du kan bruge TOR på Duk Op på to forskellige måder:</p>
<ol>
    <li>
        Du kan bruge det når du opretter anonyme begiveneheder (stærkt anbefalet!). Kun på den måde kan du være sikker på, at der ikke er andre, der læser den kommunikation der foregår mellem din computer og vores server, når du opretter en begivenhed. Det betyder i praksis at du åbner TOR, skriver duk-op.dk i adressefeltet på TOR-browseren, og opretter dine anonyme events derfra.</p>
    </li>
    <li>
        Den anden måde er at bruge TOR til at oprette en ny mail account, som du bruger for at oprette en bruger på Duk Op. Ved at oprette en ny mail og ved at ALDRIG logge ind på den uden at bruge TOR, er der ikke nogen, der kan se, hvem den person der sidder bag den e-mail adresse er. Efter du har oprettet din ny mail adresse, kan du bruge den til at oprette en Duk Op bruger. Bagefter, ved at logge ind på Duk Op via TOR-browseren, kan du benytte dig af alle de funktioner, registrerede bruger har adgang til, uden at skulle gå i kompromi med din internetsikkerhed.</p>
    </li>
</ol>
<p>Husk at læse Tors <a href="https://www.torproject.org/download/download-easy.html.en#warning">advarselsside</a></p>
<h2><a name="read">Læs videre om internedsikkerhed</a></h2>
<ul class="list-unstyled">
    <li>Find guides og dan dig et overblik på Riseups <a href="https://help.riseup.net/en/security/resources">linkside</a></li>
    <li><a href="https://prism-break.org/en/">Dette</a> er en side der har samlet en oversigt over de nyeste og bedste sikkerhedsprogrammer.</li>
    <li>Pædagoisk guide til <a href="https://emailselfdefense.fsf.org/en/">Email kryptering</a></li>
</ul>
</div>