.anonymous_user {
  .form-group { margin-bottom: 10px; }
  .btn-warning a {
    text-decoration: none;
    color: #fff;
  }

  .simple_captcha .simple_captcha_image img {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 110px;
  }
}
