* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background: linear-gradient(-180deg, rgba(236, 236, 222,.8) 0%, rgba(177, 196, 181,.8) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #eeeddf;
  min-height: 100vh;
  margin: 1em;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.4em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
}

p {margin: 0 0 1em 0}

p:last-of-type {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.page-container {
  margin: 0 auto;
  max-width: 900px;

}

.lock-body.js-active {
  height: 100vh;
  width: 100%;
  overflow: scroll;
  position: fixed;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo {
  padding-right: 40px;
}

.header__controls {
  display: none;
  font-style: italic;
  font-weight: 100;
  flex: 1;
  flex-basis: 400px;
}

.header__controls.js-active {
  display: block;
  background-color: #aaa;
  padding: 20px 20px 20px 0;
}

.header__link {
  padding-left: 20px;
  color: inherit;
  text-decoration: none;
  display: block;
}

.header__link img {
  vertical-align: middle;
  display: inline-block;
  margin-top: -1px;
}

.header__burger div {
  height: 3px;
  background-color: #aaa;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 30px;
}

.search  {
  flex: 3;
  padding-left: 20px;
}

.search__input {
  display: block;
  font-style: italic;
  font-weight: 100;
  border: 0;
  border-bottom: 1px solid #666;
  font-size: 1em;
  padding: 2px 5px;
  background: none;
  width: 100%;
}

.places  {
  flex: 3;
  padding-left: 20px;
}

.places__title {
  border-bottom: 1px solid #666;
  width: 100%;
  padding: 0 5px;
  color: #666;
  cursor: pointer;
}

.places__dropdown {
  position: absolute;
  max-height: 0;
  left: 0;
  top: 50px;
  overflow: hidden;
  width: 100%;
  background-color: #444;
  color: #fff;
  z-index: 5;
  transition: max-height .5s;
}

.places__dropdown.js-active {
  max-height: 500px;
  overflow: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.places__content {
  padding: 20px;
}

.places__place {
  margin-bottom: 10px;
}

.places__image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.overlay {
  background: rgba(0, 0, 0, 0);
  transition: background-color .3s;
}

.overlay.js-active  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  overflow: scroll;
}

.card {
  display: block;
  color: #444;
  text-decoration: none;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  margin: 20px auto;
  max-width: 900px;
  transition: transform .5s;
}

.card.js-active {
  transform: scale(1,1);
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  z-index: 11;
}

.card__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.card.js-active .card__toggle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: red;
  margin: -15px -15px 0 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTVweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTUgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIGlkPSJjcm9zcyIgZmlsbC1ydWxlPSJub256ZXJvIiBmaWxsPSIjRkZGRkZGIj4gICAgICAgICAgICA8cGF0aCBkPSJNMTQuNDEyNzI3MywxMS42ODU0NTQ1IEwxNC40MTI3MjczLDExLjY4NTQ1NDUgTDEwLDcuMjcyNzI3MjcgTDE0LjQxMjcyNzMsMi44NiBMMTQuNDEyNzI3MywyLjg2IEMxNC40NjA0NTQ1LDIuODEyMjcyNzMgMTQuNDk0NTQ1NSwyLjc1NjgxODE4IDE0LjUxNjgxODIsMi42OTc3MjcyNyBDMTQuNTc3MjcyNywyLjUzNTkwOTA5IDE0LjU0MjcyNzMsMi4zNDcyNzI3MyAxNC40MTI3MjczLDIuMjE3MjcyNzMgTDEyLjMyODE4MTgsMC4xMzI3MjcyNzMgQzEyLjE5ODE4MTgsMC4wMDI3MjcyNzI3MyAxMi4wMDkwOTA5LC0wLjAzMTM2MzYzNjQgMTEuODQ3NzI3MywwLjAyODYzNjM2MzYgQzExLjc4ODYzNjQsMC4wNTA0NTQ1NDU1IDExLjczMzE4MTgsMC4wODUgMTEuNjg1NDU0NSwwLjEzMjI3MjcyNyBMMTEuNjg1NDU0NSwwLjEzMjI3MjcyNyBMNy4yNzI3MjcyNyw0LjU0NSBMMi44NiwwLjEzMjI3MjcyNyBMMi44NiwwLjEzMjI3MjcyNyBDMi44MTIyNzI3MywwLjA4NSAyLjc1NjgxODE4LDAuMDUwNDU0NTQ1NSAyLjY5NzcyNzI3LDAuMDI4NjM2MzYzNiBDMi41MzU5MDkwOSwtMC4wMzE4MTgxODE4IDIuMzQ3MjcyNzMsMC4wMDI3MjcyNzI3MyAyLjIxNzI3MjczLDAuMTMyNzI3MjczIEwwLjEzMjcyNzI3MywyLjIxNzI3MjczIEMwLjAwMjcyNzI3MjczLDIuMzQ3MjcyNzMgLTAuMDMxMzYzNjM2NCwyLjUzNjM2MzY0IDAuMDI4NjM2MzYzNiwyLjY5NzcyNzI3IEMwLjA1MDkwOTA5MDksMi43NTY4MTgxOCAwLjA4NSwyLjgxMjI3MjczIDAuMTMyNzI3MjczLDIuODYgTDAuMTMyNzI3MjczLDIuODYgTDQuNTQ1NDU0NTUsNy4yNzI3MjcyNyBMMC4xMzI3MjcyNzMsMTEuNjg1NDU0NSBMMC4xMzI3MjcyNzMsMTEuNjg1NDU0NSBDMC4wODU0NTQ1NDU1LDExLjczMzE4MTggMC4wNTA5MDkwOTA5LDExLjc4ODYzNjQgMC4wMjg2MzYzNjM2LDExLjg0NzcyNzMgQy0wLjAzMTgxODE4MTgsMTIuMDA5MDkwOSAwLjAwMjcyNzI3MjczLDEyLjE5ODE4MTggMC4xMzI3MjcyNzMsMTIuMzI4MTgxOCBMMi4yMTcyNzI3MywxNC40MTI3MjczIEMyLjM0NzI3MjczLDE0LjU0MjcyNzMgMi41MzYzNjM2NCwxNC41NzY4MTgyIDIuNjk3NzI3MjcsMTQuNTE2ODE4MiBDMi43NTY4MTgxOCwxNC40OTQ1NDU1IDIuODEyMjcyNzMsMTQuNDYwNDU0NSAyLjg2LDE0LjQxMjcyNzMgTDIuODYsMTQuNDEyNzI3MyBMNy4yNzI3MjcyNywxMCBMMTEuNjg1NDU0NSwxNC40MTI3MjczIEwxMS42ODU0NTQ1LDE0LjQxMjcyNzMgQzExLjczMzE4MTgsMTQuNDYwNDU0NSAxMS43ODg2MzY0LDE0LjQ5NDU0NTUgMTEuODQ3NzI3MywxNC41MTY4MTgyIEMxMi4wMDk1NDU1LDE0LjU3NzI3MjcgMTIuMTk4MTgxOCwxNC41NDI3MjczIDEyLjMyODE4MTgsMTQuNDEyNzI3MyBMMTQuNDEyNzI3MywxMi4zMjgxODE4IEMxNC41NDI3MjczLDEyLjE5ODE4MTggMTQuNTc3MjcyNywxMi4wMDkwOTA5IDE0LjUxNjgxODIsMTEuODQ3NzI3MyBDMTQuNDk0NTQ1NSwxMS43ODg2MzY0IDE0LjQ2MDQ1NDUsMTEuNzMzMTgxOCAxNC40MTI3MjczLDExLjY4NTQ1NDUgTDE0LjQxMjcyNzMsMTEuNjg1NDU0NSBaIiBpZD0iU2hhcGUiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
  background-position: center center;
  background-repeat: no-repeat;
}

.card__media {
  display: block;
  background-color: rgb(236, 236, 222);
}

.card__media img {
  display: block;
  min-width: 100%;
}

.card__text {
  padding: 20px;
}

.card__date,
.card__place {
  font-style: italic;
  font-weight: 100;
  font-size: 1.5em;
  color: #00BF91;
  text-align: right;
  letter-spacing: -1px;
}

.card__place {
  color: #00BFC8;
  margin-top: 5px;
}

.card__bold {
  font-weight: 800;
}

.card__title {
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  font-size: 2em;
  margin: 20px 0 10px 0;
  letter-spacing: -1px;
}

.card__more {
  height: 0;
  width: 0;
  overflow: auto;
  opacity: 0;
  transition: opacity .5s;
}

.card__color {
  background: rgba(236, 236, 222,.8);
}

.card.js-active .card__more {
  height: auto;
  opacity: 1;
  width: auto;
}

.card.js-active .card__more > div {
  flex: 1;
}



.title {
  font-style: italic;
  font-weight: 100;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.title--space {
  margin-top: 40px;
}

.title__bold {
  font-weight: 900;
}

.timeline {
  margin: 20px auto 40px auto;
  max-width: 900px;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}


.timeline__event {
  position: relative;
  z-index: 1;
  height: 30px;
  background: #496962;
  border-radius: 15px;
  line-height: 30px;
  color: #fff;
  padding: 0 15px;
  margin-bottom: 10px;
  font-style: italic;
  width: 30px;
}

.timeline__event--color1 {
  background: #3C8E8C;
}

.timeline__event--color2 {
  background: #70AA64;
}

.timeline__event--color3 {
  background: #42767F;
}

.timeline__event--left::before {
  content: attr(data-text);
  color: #444;
  display: block;
  position: absolute;
  left: 0px;
  width: 200px;
  margin-left: -205px;
  text-align: right;
}

.timeline__event--right::after {
  content: attr(data-text);
  left: 35px;
  position: absolute;
  display: block;
  width: 200px;
  color: #444;
}


.timeline__scale {
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  margin: 20px 0 0px 0;
}

.timeline__min {
  float: left;
  font-style: italic;
}

.timeline__max {
  float: right;
  font-style: italic;
}

.timeline__now {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-top: -10px;
  background-color: #d1dbce;
}

.timeline__now::before {
  position: absolute;
  z-index: 0;
  bottom: 30px;
  display: block;
  height: 100%;
  width: 1px;
  margin-left: 8px;
  content: '';
  border-left: 1px solid #666;
}

.create-form {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 20px;
  margin-top: 20px;
}

.create-form__row {
  display: flex;
  margin-top: 20px;
}

.create-form__row > div {
  flex: 1;
}

.create-form__label {
  flex: 0 0 100px;
  color: #aaa;
  font-style: italic;
  padding: 1px 0;
  font-weight: 100;
}

.create-form__label abbr {
  text-decoration: none;
  color: red;
  vertical-align: super;
  font-size: 80%;
}

input[type="file"] {
    position: absolute; left: -99999rem
}

.create-form__file {
  cursor: pointer;
  display: inline-block;
  background-color: #42767F;
  color: #fff;
  border-radius: 3px;
  padding: 3px 10px;
  font-style: italic;
  font-weight: 100;
}

.create-form__date {
  display: flex;
}

.create-form__select-list {
  height: 100px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

.create-form__select-list input {
  display: none;

}

.create-form__select-list label {
  display: block;
  cursor: pointer;
  padding: 2px 10px;
}

.create-form__select-list input:checked + label {
  background-color: #42767F;
  color: #fff;
}

.create-form__date > div {
  flex: 1;
}

.create-form__date select {
  border: 1px solid #ddd;
  padding: 10px 10px;
  font-size: 1em;
  display: inline-block;
  height: 38px;
  background-color: #fff;
  border-radius: 0px;
  -webkit-appearance: none;
}

.create-form__submit {
  cursor: pointer;
  display: inline-block;
  background-color: #42767F;
  border: none;
  font-size: 1.5em;
  color: #fff;
  font-style: italic;
  font-weight: 100;
  border-radius: 3px;
  padding: 10px 40px;
  margin-top: 20px;
}

.create-form__info {
  color: #aaa;
  font-size: 80%;
  margin-bottom: 10px;
}

.create-form__input {
  font-size: 1em;
  padding: 10px 10px;
  width: 100%;
  border: 1px solid #ddd;
}

.table {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.table__day--1 {
  background-color: rgba(236, 236, 222,.2)
}

.table__day--2 {
  background-color: rgba(177, 196, 181,.2)
}

.table__header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table__event {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.table__event:hover {
  background-color: #eee;
}

.table__time {
  flex-basis: 120px;
  width: 120px;
  padding: 10px;
  border-right: 1px solid #ddd;
  text-align: right;
}

.table__title {
  padding: 10px;
  font-style: italic;
  font-weight: 900;
}

.table__place {
  padding: 10px;
  font-style: italic;
  border-left: 1px solid #ddd;
}

.news__link {
  color: inherit;
  display: flex;
  text-decoration: none;
}

.news__link:hover {
  background-color: rgba(255,255,255, .3);
}

.news__date {
  color: #42767F;
  padding-right: 10px;
}

.footer {
  margin-top: 40px;
}

@media (min-width: 700px){
  body {
    background: linear-gradient(-180deg, rgba(236, 236, 222,.8) 0%, rgba(177, 196, 181,.8) 100%), url('assets/images/bg.jpg') top right -300px no-repeat;
  }

  .header__controls {
    display: flex;
  }

  .header__burger {
    display: none;
  }

  .page-container {
    padding: 0 1.1vw;
  }

  .card {
    transform: scale(.97, .97);
    margin: 10px auto;
  }

  .card__media {
    display: block;
    min-width: auto;
  }

  .card__layout {
    display: flex;
  }

  .card__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  .card:hover {
    transform: scale(1,1);
  }

  .footer__content {
    display: flex;
  }
  .footer__content > div {
    flex: 1;
  }
}
