/* Before importing bootstrap, define fonts and colors */

@import 'variables';
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "typeaheadjs";
@import "bootstrap-select.min";

@import "events.css.scss";
//@import "global";
@import "new_event.css.scss";



/* Bootstrap overrides */
img {
  max-width: 100%;
  height: auto;
}

.navbar-user,
.navbar-main {
  float: right;
  width: 35%;
  padding-top: 30px;
  font-family: $font-family-heading;
  font-size: 120%;
}

.site-logo {
  width: 30%;
  float: right;
  img {
    max-width: 100%;
  }
}

.navbar-user,
.navbar-main {
  .nav {
    text-align: center;
    margin: 0 auto;
    float: none;
    li {
      display: inline-block;
    }
  }

  li {
    display: inline-block;
    float: none;
  }
}

.navbar-nav li.lang-switch-wrapper {

  .lang-switch {

    border: 1px solid #bbb;
    @include clearfix;
    a {
      padding: 2px 10px;
      margin: 0;
      float: left;
      display: block;
      width: 50%;
      color: #fff;
      background-color: #bbb;
      &:first-child {
        border-right: 1px solid #bbb;
      }
    }
    .active {
      background-color: #fff;
      color: #bbb;
    }
  }
}
