/* Before importing bootstrap, define fonts and colors */

$font-family-sans-serif: monospace;
$font-family-serif: monospace;

$navbar-default-bg: #408298;
$navbar-default-border: #408298;
$navbar-default-link-color: #fcfcfc;

@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "typeaheadjs";
@import "bootstrap-select.min";

@import "events.css.scss";
@import "global";
@import "new_event.css";

/* Bootstrap overrides */

.navbar-default
{
  border-width: 0;
  border-radius: 0;
}

#navbar-main {
  @media (min-width: $grid-float-breakpoint) {
    padding-left: 0;
    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-nav > li:first-child > a {
      padding-left: 0;
    }
  }
  .navbar-nav > li > a {
    font-size: $font-size-base;
  }
}

.navbar-toggle
{
  background-color: #408298;
  border-color: #FFF !important;
  height: 40px;
  width: 40px;
}

@media (min-width: $grid-float-breakpoint) {
  #navbar-user {
    float: right;
  }
}
#navbar-user {
  @media (min-width: $grid-float-breakpoint) {
    .navbar-nav > li > p > a.btn-default {
      margin-right: 8px;
    }
  }  
  .navbar-nav > li > a {
    font-size: $font-size-base;
  }
}
