// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  width: 600px;
}
input, textarea, .select_group {
  display: block;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
.event-container {
  cursor: pointer;
  padding: 10px 20px
}
.event-details {
  display: none;
}
.event-category {
  border: 1px solid crimson;
  padding: 1px;
  margin-right: 4px;
}

.login-buttons {
  text-align: right;
}