// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  padding-right:0px;
  padding-left:0px;
}

.hidden { display: none; }
input, textarea, .select_group {
  display: block;
}

.event-container {
  padding: 10px 0px
}

.event-topbar_js {
  cursor: pointer;

  &:hover {
    background-color: yellow;
  }
}
.event-category {
  border: 1px solid #000000;
  padding: 1px;
}

.login-buttons {
}

.long-description {
  display: none;
}

dl#filter-list_js {
  .active {
    color: #fff;
  }
}

#user_remember_me {
  display: inline;
}

/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.combobox-container {
  .input-group-addon {
    display: none;
  }
}

.end-of-events {
  color: #ababab;

}
