.container {
	max-width:960px;
}

.header-text {
	text-align: center;
	font-size: 60px;
}

.tagline-text {
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
}

.create-link a  {
	color: #FFF !important
}