
<h1>Create a one time account</h1>

<%= simple_form_for @user, url: url_for(controller: 'anonymous_user', action: 'create' ) do |f| %>
    <%= f.input :username %>
    <%= f.input :password, as: :hidden %>
    <%= f.submit %>
<% end %>

<p>You are creating an one-time anonymous account.<br/>
This means that a user will be created with the username you supply. No additional identifying information will be stored.<br/>
Since this account does not have an email attached, you cannot login to it again. <br/>
Therefore, you will be unable to edit or delete any information you enter while logged into this account after you have logged out, or the session expires.</p>

