<% if I18n.locale == :en %>
    <li>
      <%= link_to url_for(locale: :da) do %>
          <%= bootstrap_glyphicon('asterisk') %>
          Dansk
      <% end %>
    </li>
<% else %>
    <li>
      <%= link_to url_for(locale: :en) do %>
          <%= bootstrap_glyphicon('asterisk') %>
          English
      <% end %>
    </li>
<% end %>
